<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="row">
				<div class="col-sm-7 form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" #name>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 form-group">
					<label for="amount">Amount</label>
					<input type="number" class="form-control" id="amount" #amount>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-success" (click)="onIngAdded()">Add</button>
					<button type="button" class="btn btn-danger" style="margin-left:10px">Delete</button>
					<button type="button" class="btn btn-danger" style="margin-left:10px">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>
